<!-- We add an id for the table to update the HTML content of the table through JavaScript.  -->
<table id="post-{{post.id}}" class = "posttable" style = "width:100%" valign="top">
        <tr> 
            <td colspan="3"><div class="posttitle"> {{post.title}} </div>
            </td>
        </tr>
        <tr>
            <td width="10%" >
                <img src="{{ url_for('static', filename = 'img//happiness-level-' + post.happiness_level|string + '.png' )}}" width="40px" />
            </td>
            <td width="80%" >
                <div> {{ post.body }} </div> <br> 
                <!-- (milestone3) TODO: format the timestamp; display as local date/time-->
                Posted at: {{ post.timestamp }} 
            </td> 
            <td width = "5%">
                <div>
                    <form action="{{ url_for('main.like', post_id=post.id) }}" method="post">
                        {{ like_form.hidden_tag() }}
                        {{ like_form.submit(class_='likebtn') }}
                    </form>      
                    <br>
                    <div> {{ post.like_count }} </div>
                </div> <br> 
                 <!-- (milestone3) TODO: if the post is posted by the logged-in user, include the "delete" button.  
                                   Define an HTML `post` form with a submit button. The form action should redirect to `routes.deletepost` route.
                                   Style the submit button using `button` CCS class selector. -->
            </td>
        </tr>
        <tr> 
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
                <!-- (milestone2) TODO: include all the tags associated with the post-->
            </td>
        </tr>
        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
                  <!-- (milestone3) TODO: include username who posted the post-->
            </td>
        </tr>
    </table>

<!-- (milestone3)  TODO: refactor the "like" use case. Add the JavaScript code below. -->
{% block script %}
<script>

</script>    
{% endblock %}