<div id="post-{{post.id}}">
    <img src="{{ url_for('static', filename='img/happiness-level-' + post.happiness_level|string + '.png') }}" width="40px" />
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.body }}</p>
    <p class="card-text"><small class="text-muted">Posted at: {{ moment(post.timestamp).format('LLL') }} by <span class="useritem">{{ post.writer.username }}</span></small></p>
    <div>
        {% for tag in post.get_tags() %}
        <span class="badge bg-secondary">{{ tag.name }}</span>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3">
        <div>
            <button class="likebtn" onclick="like_post({{ post.id }})"></button>
            <span class="likecount">{{ post.like_count }}</span>
        </div>
        {% if post.writer == current_user %}
        <form action="{{ url_for('main.delete', post_id=post.id) }}" method="post">
            <input type="submit" value="Delete" class="btn btn-danger btn-sm">
        </form>
        {% endif %}
    </div>
</div>

{% block script %}
<script>
    async function like_post(post_id) {
        let url = "{{ url_for('main.like', post_id=0) }}".replace('0', post_id);
        let response = await fetch(url, {method: 'POST'});
        let data = await response.json();
        update_likes(data);
    }

    function update_likes(data) {
        let post_id = data.post_id;
        let like_count = data.like_count;
        let post_div = document.getElementById('post-' + post_id);
        let like_count_span = post_div.querySelector('.likecount');
        like_count_span.textContent = like_count;
    }
</script>    
{% endblock %}