{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Smile Portal!</h1>
    <h3>Number of smiles: {{ smile_count }} </h3>

    <form method="POST" class="row g-3 align-items-center">
        {{ sort_form.hidden_tag() }}
        <div class="col-auto">
            {{ sort_form.sort_by.label(class="form-label") }}
            {{ sort_form.sort_by(class="form-select") }}
        </div>
        <div class="col-auto">
            <div class="form-check">
                {{ sort_form.my_posts(class="form-check-input") }}
                {{ sort_form.my_posts.label(class="form-check-label") }}
            </div>
        </div>
        <div class="col-auto">
            {{ sort_form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <div class="row">
    {% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    {% include '_post.html' %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}