{% extends "base.html" %}

{% block content %}

    <h1>Welcome to Smile Portal!</h1>
    <!-- TODO: (milestone1) Display smile count.   -->
    <h3>Number of smiles: {{ smile_count }} </h3>

        <form method="POST">
        {{ sort_form.hidden_tag() }}
        {{ sort_form.sort_by(class="formselect") }}
        {{ sort_form.submit() }}
    </form>

    <!-- TODO: (milestone1) Format posts -->
    <div class="postlist">
    {% for post in posts %}
        <div class="post-box">
            {% include '_post.html' %} 
        </div>
    {% endfor %}
    </div>
  
{% endblock %}